# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local SQLite databases
*.db
*.sqlite
*.sqlite3

# Python Caches & Virtual Environments
__pycache__/
*.py[cod]
.env
venv/
.venv/

# System Hidden Files
.DS_Store
Thumbs.db

# Ignore large data files
# Sale.xlsx
